body {
    font-family: Arial, sans-serif;
    background: url(media/WhatsApp\ Image\ 2024-10-12\ at\ 22.05.25.jpeg);
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background: white;
    padding: 50px;
    border-radius: 9px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

img {
    width: 300px;
    margin: 0 auto 20px;
    display: block;
}
h2 {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid #ccc;
    border-radius: 4px;
}

button {
    width: 50%;
    padding: 10px;
    background-color: #eb0029;
    color: white;
    margin: 0 auto; /* Center horizontally */
    display: block; /* Treat button as block-level element */
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #db0026;
}

#message {
    margin-top: 10px;
    color: red;
}
