@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #333;
    text-align: center;
}

header {
    background-color: #d32f2f;
    padding: 25px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-icon, .user-icon {
    font-size: 24px;
    color: white;
}


.saludo {
    margin-top: 5rem;
}

h1 {
    font-family: "Montserrat", sans-serif;
    margin-top: 40px;
    letter-spacing: 1px;
    font-size: 30px;
    color: #000000;
    padding: 15px;
}

p {
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    letter-spacing: 1px;
    margin-bottom: 20px;
}


.textRecom h2 {
    margin-top: 5rem;
    text-align: left;
    font-size: 23px;
    letter-spacing: 0.5px;
    font-family: "Montserrat", sans-serif;
    padding: 23px;

}

.icon-container {
    display: flex;
    justify-content: space-around;
    align-items: center; /* Alinea verticalmente los elementos */
    width: 100%;
    max-width: 1200px;
    gap: 40px; /* Añade espacio entre los elementos */
    margin: 0 auto; /* Centra el contenedor en la página */
}

.icon-box {
    text-align: center;
    width: 120px;
}

.icon-box img {
    width: 180px;
    height: 180px;
    border-radius: 20px;
    background-color: #d32f2f;
    padding: 30px;
    margin-bottom: 30px; /* Aumenta el margen entre la imagen y el texto */
    transition: all 0.3s ease;
}

.icon-box img:hover {
    border: 3px solid blue;
    transform: scale(1.1);
}

.icon-box p {
    font-size: 14px;
    font-weight: bold;
    color: #333;
}


.circle {
    width: 20px;
    height: 20px;
    background-color: #d32f2f;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: -30px;
    transform: translateY(-50%);
}

input[type="text"] {
    margin-top: 2.2rem;
    font-family: "Montserrat", sans-serif;
    padding: 15px 20px;
    border: 2px solid #333;
    border-radius: 20px;
    font-size: 16px;
    width: 700px;
}
