@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #333;
    text-align: center;
}

header {
    background-color: #eb0029;
    padding: 25px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
