@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background-color: #e5e5e5;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 350px;
}

.logo {
    width: 150px;
    margin-bottom: 20px;
}

h1 {
    font-size: 1.3rem;
    margin-bottom: 20px;
    color: #333;
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.action-btn {
    background-color: #d50000;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 0.9rem;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 45%;
}

.action-btn:hover {
    background-color: #ff3333;
}

.login-form {
    text-align: left;
}

.login-form label {
    display: block;
    margin-bottom: 8px;
    color: #333;
}

.login-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 10px;
    border: 1px solid #ccc;
}

.submit-btn {
    background-color: #d50000;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
    width: 100%;
    font-size: 1rem;
    transition: background-color 0.3s;
}

.submit-btn:hover {
    background-color: #ff3333;
}
